.top-content .carousel-item {
    height: 100vh;
    min-height: 20n0px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 200px;
}

.top-content .carousel-item {
    height: 400px;
    width: 100%;
  }
  
.top-content .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
}
 
.top-content .carousel-item-1 {
    background-image: url(/assets/images/m1.jpg);
}
 
.top-content .carousel-item-2 {
    background-image: url(/assets/images/mic.jpg);
}
 
.top-content .carousel-item-3 {
    background-image: url(/assets/images/m3.jpg);
}
 
.top-content .carousel-item-4 {
    background-image: url(/assets/images/m5.jpg);
}

@media (max-width: 575px) {
 
    .top-content .carousel-item {
        max-height: 400px;
    }
 
}
@media (max-width: 767px) {
 
    h1, h2 {
        font-size: 22px;
        line-height: 30px;
    }
 
    .top-content .carousel-caption {
        bottom: 20px;
    }
 
    .top-content .carousel-indicators {
        display: none;
    }
 
}
 
@media (max-width: 575px) {
    .top-content  .carousel-caption {
        bottom: 0;
        padding-bottom: 20px;
    }
 
    .top-content .carousel-caption-description {
        display: none;
    }
 
    .top-content h1, 
    .top-content h2, 
    .top-content h3 {
        font-size: 18px;
    }
}