<!-- Navbar -->
<nav class="d-flex navbar navbar-expand navbar-light bg-light p-5 mx-auto ">
    <!-- Container wrapper -->
    <div class=" justify-content-between container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse d-flex justify-content-between " id="navbarSupportedContent">
        <!-- Navbar brand -->
        <div class="div"><i class="fa fa-ellipsis-v fa-3x" aria-hidden="true"></i></div>
        <div class="p-5">
            <a class="navbar-brand mt-3 mt-lg-0" href="#">
                <img
                  src="/assets/images/myuzinc.jpeg"
                  height="80px"
                  alt="myuzinc logo"
                  loading="lazy"
                />
              </a>
        </div>
        <!-- Left links -->
        <div class="input-group container justify-content-center">
            <form class="form-inline col-lg-8">
                <input class="form-control form-control-lg" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn btn-secondary" type="submit"><i class="fas fa-search fa-2x"></i></button>
            </form>
          </div>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="text-reset me-3" href="#">
            <i class="fa-regular fa-user fa-2x"></i>
        </a>
  
        <!-- Notifications -->
        <div class="dropdown">
          <a>
          <i class="fa-solid fa-gear fa-2x"></i>
          </a>
        </div>
        <!-- Avatar -->
        <div class="dropdown">
          <a class="fa fa-th fa-3x"></a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuAvatar"
          >
            <li>
              <a class="dropdown-item" href="#">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->